

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: yellowgreen;
}

#app {
  text-align: center;
  margin: 100px;
  padding: 100px;
}

form {
  margin: 3px;
}

button {
  margin: 10px;
}